* {
  margin: 0;
  padding: 0;

}
.main__visual {
  height: 100vh;
  background-color:#BDBDB7;
  h1 {
    padding-top: 100px;
    text-align: center;
    color: #fff;
    border-bottom: 5px solid #fff;
  }
  .first {
    width: 200px;
    margin: 30px auto;
  }
  .q__text {
    text-align: center;
    color: #fff;
  }
  label {
    margin-left: 20px;
  }
  h2 {
    margin: 20px 0;
  }

}